.single-book-wrapper {
	padding: 20px 0px 20px 40px;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	@media (max-width: 1024px) {
		padding: 20px 0px 20px 20px;
	}
	@media (max-width: 675px) {
		padding: 10px 0 0 0;
	}
}

.single-book-avatar {
	display: grid;
	place-items: center;
}

.book-cover {
	width: 300px;
	border-radius: 15px;
	@media (max-width: 1100px) {
		width: 250px;
	}
	@media (max-width: 800px) {
		width: 220px;
	}
	@media (max-width: 675px) {
		width: 200px;
	}
	@media (max-width: 550px) {
		width: 150px;
	}
	@media (max-width: 415px) {
		width: 120px;
	}
}

.information {
	padding: 0 25px 0 20px;
	@media (max-width: 800px) {
		padding: 0 0px 0 15px;
	}
}

.book-name {
	font-size: 50px;
	display: flex;
	align-items: center;
	margin-bottom: 25px;
	@media (max-width: 1200px) {
		font-size: 30px;
	}
	@media (max-width: 930px) {
		font-size: 25px;
	}
	@media (max-width: 800px) {
		font-size: 22px;
	}
	@media (max-width: 473px) {
		font-size: 18px;
	}
}

.book-date {
	font-size: 25px;
	span {
		color: rgba(5, 147, 78, 0.644);
	}
	margin-bottom: 20px;
	@media (max-width: 1200px) {
		font-size: 22px;
	}
	@media (max-width: 930px) {
		font-size: 20px;
	}
	@media (max-width: 550px) {
		font-size: 18px;
	}
	@media (max-width: 473px) {
		font-size: 14px;
	}
	// @media (max-width: 800px) {
	// 	font-size: 22px;
	// }
}

.book-status {
	font-size: 20px;
	margin-bottom: 25px;
	@media (max-width: 800px) {
		font-size: 16px;
	}
	@media (max-width: 550px) {
		font-size: 14px;
	}
}

.status-wrapper {
	width: fit-content;
	padding: 2px 10px;
	background-color: #0a75d9;
	color: white;
	display: grid;
	place-items: center;
	border-radius: 17px;
}

.related-quotes {
	ul {
		padding-left: 30px;
		@media (max-width: 550px) {
			padding-left: 15px;
		}
		li {
			font-size: 18px;
			padding-top: 10px;
			@media (max-width: 550px) {
				font-size: 15px;
			}
			@media (max-width: 400px) {
				font-size: 12px;
			}
		}
	}
	@media (max-width: 550px) {
		font-size: 20px;
	}
}

.single-book-button {
	@media (max-width: 800px) {
		font-size: 12px;
		padding: 1px !important;
	}
	@media (max-width: 550px) {
		margin: 0;
		width: 100% !important;
	}
}

.add-quote-button {
	@media (max-width: 550px) {
		margin-top: 15px;
		margin-left: 0;
	}
}

.related-quotes-title {
	font-size: 23px;
	@media (max-width: 550px) {
		font-size: 18px;
	}
}

.delete-quote-button {
	background-color: rgb(255, 66, 98);
	margin-left: 30px;
	@media (max-width: 800px) {
		margin-left: 15px;
	}
	@media (max-width: 675px) {
		margin-left: 7px;
	}
	@media (max-width: 550px) {
		margin-top: 5px;
		margin-left: 0;
	}
}

.button-wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	@media (max-width: 550px) {
		flex-direction: column;
	}
}
