.quotes-wrapper {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 100px;
	transition: all 0.3s;
}

.add-quote-button {
	margin-top: 10px;
	background-color: #0e2a45;
	opacity: 1;
	min-width: 100px;
	transition: all 0.3s ease-in-out;
	pointer-events: all;
	@media (max-width: 780px) {
		width: 80px;
	}

	@media (max-width: 550px) {
		margin-bottom: 10px;
	}
}

.button-wrapper {
	width: 100%;
	display: flex;
	justify-content: center;

}

.sum-icon {
	width: 15px;
	color: #FFFFFF;
}

.warning {
	margin-bottom: 50px;
}